<footer local-class="footer">
  <div local-class="footer-content">
    <nav local-class="nav" aria-label="Footer navigation">
      <ul local-class="nav-list">
        <li><a href="https://github.com/dequelabs/axe-core" target="_blank" rel="noopener noreferrer" local-class="nav-link">Powered by axe-core</a></li>
        <li><a href="https://github.com/linds-wmce/linds-wmce.github.io" target="_blank" rel="noopener noreferrer" local-class="nav-link">Source Code</a></li>
        <li><a href="https://github.com/linds-wmce/a11ycat-litterbox" target="_blank" rel="noopener noreferrer" local-class="nav-link">BE Server Code</a></li>
        <li> <LinkTo @route="contact" local-class="nav-link">Contact</LinkTo></li>
      </ul>
    </nav>
    <p local-class="footer-text">© {{this.currentYear}} a11ycat · Making the web accessible for everyone</p>
  </div>
</footer>