<ul local-class="nav-list">
    <li><a href="https://github.com/dequelabs/axe-core" target="_blank" rel="noopener noreferrer" local-class="nav-link">Powered by axe-core</a></li>
    <li><a href="https://webaim.org/" target="_blank" rel="noopener noreferrer" local-class="nav-link">WebAIM</a></li>
    <li><a href="https://a11ycat-litterbox-production.up.railway.app" target="_blank" rel="noopener noreferrer" local-class="nav-link">API Docs</a></li>
</ul>
