<ul local-class="nav-list">
    <li><a href="https://www.w3.org/TR/WCAG21/" local-class="nav-link">Privacy</a></li>
    <li><a href="https://github.com/linds-wmce/linds-wmce.github.io.git" local-class="nav-link">Terms</a></li>
    <li><a href="https://github.com/linds-wmce/linds-wmce.github.io.git" local-class="nav-link">Contact</a></li>
</ul>