<header local-class='header'>
  <h1 local-class='title'>
    <img
      src='/a11ycat-main.png'
      alt=''
      role='presentation'
      local-class='logo'
    />a11ycat</h1>
  <p id='subtitle' local-class='subtitle'>Accessibility Audit Tool</p>

</header>