<header local-class='header'>
  <img src='/a11ycat-main.png' alt='' role='presentation' local-class='logo' />
  <h1 local-class='title'>a11ycat</h1>
  <p id='subtitle' local-class='subtitle'>Accessibility Audit Tool</p>
  <p id='tagline' local-class='tagline'>
    Find accessibility issues in your HTML with ease.
  </p>
</header>