.header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  max-height: 150px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  margin-top: 0.5rem;
  color: #333;
}
