<div local-class="wrapper">
  <LinkTo @route="index" local-class="logo-container">
    <img
      src="/a11ycat-main.png"
      alt="A11ycat"
      local-class="logo"
    />
    <h1 local-class="title">a11ycat</h1>
  </LinkTo>

  <nav local-class="nav">
    <ul local-class="nav-list">
      <li><a href="/examples" local-class="nav-link">examples</a></li>
      <li><a href="https://www.w3.org/TR/WCAG21/" local-class="nav-link">WCAG Guidelines</a></li>
      <li><a href="https://github.com/linds-wmce/linds-wmce.github.io.git" local-class="nav-link"><img src="/github-logo.png" alt="GitHub" local-class="nav-link-icon"></a></li>
    </ul>
  </nav>

</div>