<div local-class="wrapper">
  <LinkTo @route="index" local-class="logo-container">
    <img
      src="/a11ycat-main.png"
      alt="A11ycat - a ginger cat with an accessibility icon and cane"
      local-class="logo"
    />
    <h1 local-class="title">a11ycat</h1>
  </LinkTo>

  <nav local-class="nav">
    <ul local-class="nav-list">
      <li><LinkTo @route="examples" local-class="nav-link">Examples</LinkTo></li>
      <li><LinkTo @route="contact" local-class="nav-link">Contact</LinkTo></li>
    </ul>
  </nav>

</div>