<div local-class="examples">
  <h2>Bad HTML Example</h2>
  <pre local-class="code">
    &lt;img src="image.jpg"&gt;
    &lt;button&gt;&lt;/button&gt;
    &lt;a href="#"&gt;Click here&lt;/a&gt;
    &lt;form&gt;
      &lt;input type="text" id="name"&gt;
      &lt;label&gt;Email&lt;/label&gt;
      &lt;input type="email" id="email"&gt;
    &lt;/form&gt;
    &lt;div style="color: #aaa; background: #fff;"&gt;Low contrast text&lt;/div&gt;
  </pre>
</div>
