<nav local-class='tabs' aria-label='a11ycat views'>
  <LinkTo 
    @route='index' 
    local-class='tab {{if (eq @activeTab "Audit") "tab--active"}}'
  >
    Audit
  </LinkTo>

  <LinkTo 
    @route='samples' 
    local-class='tab {{if (eq @activeTab "Examples") "tab--active"}}'
  >
    Examples
  </LinkTo>
</nav>