<nav local-class='tabs' aria-label='a11ycat views'>
  <LinkTo 
    @route='index' 
    local-class='tab {{if (eq @activeTab "Audit") "tab--active"}}'
  >
    Audit
  </LinkTo>

  <LinkTo 
    @route='examples' 
    local-class='tab {{if (eq @activeTab "examples") "tab--active"}}'
  >
    examples
  </LinkTo>
</nav>