<div local-class="tabs">
  <button
    type="button"
    local-class="tab {{if (eq @activeTab 'Audit') 'tab--active'}}"
    {{on "click" (fn @setTab "Audit")}}
  >
    Audit
  </button>

  <button
    type="button"
    local-class="tab {{if (eq @activeTab 'Examples') 'tab--active'}}"
    {{on "click" (fn @setTab "Examples")}}
  >
    Examples
  </button>
</div>
