<div local-class='loading-container' role='status' aria-atomic='true'>
  <p local-class='loading-message'>
    Now chasing the laser pointer… ahem, your accessibility issues!
  </p>

  <div
    local-class='chase-scene-container'
    aria-label='Animation of the a11ycat chasing a laser pointer across the screen'
  >
    <div local-class='laser' aria-hidden='true'></div>
    <div local-class='cat' aria-hidden='true'></div>
  </div>
</div>